.card {
  background: #fff;
  border: 5px solid white;
  border-radius: 5px;
  height: 135px;
  width: 135px;
  margin: 1rem;
  position: relative;
  float: left;  
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  width: 100%
}

.card:hover {
  box-shadow: 2px 0 8px 5px rgba(0, 23, 31, 0.5);  
  border: 5px solid darkslategrey;
}

@media screen and (max-width: 980px) { 
  .card {
    height: 108px;
    width: 98px;
  }
}

@media screen and (max-width: 575px) { 
  .card {
    height: 58px;
    width: 48px;
  }
}
