.card {
  background: #fff;
  border: 5px solid white;
  border-radius: 5px;
  height: 135px;
  width: 135px;
  margin: 1rem;
  position: relative;
  float: left;  
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  width: 100%
}

.card:hover {
  box-shadow: 0 0 5px 3px rgba(0, 140, 186, 0.5);  
}

